<% include partials/header %>
<center><br><br>
<a class="btn btn-success btn-lg" href="/about/creators">ABOUT THE CREATORS</a>
</center>
<br>
<div style="font-size:24px; padding:10px 10px; margin-left:10px; background:grey; color:white"><b>
<h2>&nbsp;&nbsp;INTRODUCTION</h2>
<p>Technomania is a website for Punjab university students 
who by registering themselves can share innovative and fresh ideas on
various subjects, literature, sports ,lifestyle , etc. 
The articles can be viewed and commented. 
The content writer has the authority to delete any inappropriate comment. 
Posts can be arranged by categories, 
so users looking for ideas of a certain interest can find content quickly and easily.</p>
<br>

<h2>&nbsp;&nbsp;OBJECTIVES</h2>
<p>
It promotes autonomous learning by providing oppurtunities for students to
Take more control of their learning and motivates students 
To become better readers and writers. 
It creates a unique online space to represent students without spending a cart.</p>
<br>

<h2>&nbsp;&nbsp;SCOPE</h2>
<p> 
It provides personal development for students. 
It offers reinforcement and feedback. 
This can drive self-esteem, personal reflection and growth, as well as confidence. 
It can be a powerful catalyst to improve literacy skills.
It provides knowledge about subjects to be able to decide 
a particular interest or aptitude for certain subjects to specialise in. 
Students will spend time reading, identifying and discussing ethics and social media.
</p>
<br></b>
</div>



<% include partials/footer %>