<html>
<head>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/stylesheets/bootstrap.css">
<style>
	body, html {
  		height: 100%;
  		margin: 0;
	}
	.bg {
		background-image:url("/images/writeforus.jpg");
  		/* Full height */
  		height: 100%; 

  		/* Center and scale the image nicely */
  		background-position: center;
  		background-repeat: no-repeat;
 		background-size: cover;
 		position: relative;
  		text-align: center;
  		color: white;
	}
	.centered {
  		position: absolute;
  		top: 80%;
  		left: 50%;
  		transform: translate(-50%, -50%);
  		font-size:32px;
  		font:italic bold 32px/50px Georgia, serif;

	}

</style>
</head>
<body>
<div class="bg">
	<a class="centered btn btn-primary btn-lg btn-outline-light" href="/products">LETS GET STARTED!</a>
</div>

</body>
</html>